In [1]:
import pandas as pd
import numpy as np

In [2]:
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

def estimate(rating):
    if(rating <= 2):
        return 'Низкий рейтинг'
    elif(rating <= 4):
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'
    
films = pd.read_csv('ratings.csv')
films['estimation'] = films.rating.apply(estimate)
films.head(10)

   userId  movieId  rating  timestamp       estimation
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг
5       1       70     3.0  964982400  Средний рейтинг
6       1      101     5.0  964980868  Высокий рейтинг
7       1      110     4.0  964982176  Средний рейтинг
8       1      151     5.0  964984041  Высокий рейтинг
9       1      157     5.0  964984100  Высокий рейтинг

In [3]:
# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. 
# Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
# Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def get_region(keywords, geo_data):
    for region in geo_data:
        if(keywords.keyword in geo_data[region]):
            return region
    return 'undefined'

keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords.apply(get_region, geo_data=geo_data,axis=1)
keywords.sort_values('region',ascending=False).head(20)

                                              keyword   shows          region
11785                                            тула   23898           Центр
6075                                        ярославль   41720           Центр
1259                                           москва  153050           Центр
20823                                       петербург   14859    Северо-Запад
8977                                         мурманск   29984    Северо-Запад
11222                                           псков   24885    Северо-Запад
21445                                         сахалин   14494  Дальний Восток
9084                                        хабаровск   29655  Дальний Восток
5858                                      владивосток   43038  Дальний Восток
66697                                    печора тудей    5308       undefined
66678  хиромантия для начинающих с разъяснениями фото    6070       undefined
66676                                           olike    5280       undefined
66675                              знахарь фильм 1982    5295       undefined
66674        работа в железнодорожном свежие вакансии    5370       undefined
66673        размер материнского капитала в 2017 году    5419       undefined
66672                                           армед    5280       undefined
66671               электронная очередь в детский сад    5303       undefined
66670                            мюзикл анна каренина   12326       undefined
66701                                   госпожа и раб    6932       undefined
66669                                   паукообразные    5280       undefined

In [33]:
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”.
# Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого 
# домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). 
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

years = np.arange(1950,2011)

def production_year(movies,years):
    for year in years:
        if(str(year) in movies.title):
            return year
        
    return '1900'
    

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
movies['year'] = movies.apply(production_year,years=years,axis=1)

movies_extended = movies.merge(ratings,on='movieId',how='left')
result = movies_extended.groupby('year').agg({'rating':'mean'}).sort_values('rating',ascending=False)

result.head(20)

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293
1964  3.940160
1974  3.935622
1967  3.922572
1975  3.879121
1958  3.842424
1971  3.841463
1966  3.823684
1950  3.813665
1968  3.812212
1977  3.810406
1951  3.804945
1959  3.794239
1981  3.760732
1976  3.760047
1973  3.757764