In [1]:
import pandas as pd

In [42]:
# Определите какому фильму было выставлено больше всего оценок 5.0.

films = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

sorted_rating = (
ratings[['movieId','rating']][ratings.rating == 5]
 .groupby('movieId')
 .count()
 .sort_values('rating',ascending=False)
)

sorted_rating.merge(films,on='movieId',how='left')[['title','rating']].head(1)

                              title  rating
0  Shawshank Redemption, The (1994)     153

In [68]:
# По данным файла power.csv посчитайте суммарное потребление стран 
# Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
# Не учитывайте в расчетах отрицательные значения quantity.
    
data = pd.read_csv("power.csv")
data['baltic'] = data.country.apply(lambda country: country in ['Lithuania','Latvia','Estonia'])
data['in_year_range'] = data.year.apply(lambda year: (2005 <= year <= 2010))
data['in_category_range'] = data.category.apply(lambda category: category in [4,12,21])

data[
    (data.quantity > 0) & 
    (data.baltic == True) & 
    (data.in_year_range == True) & 
    (data.in_category_range == True)
].quantity.sum()

240580.0

In [72]:
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

table = pd.read_html("https://www.list-org.com/company/7499427")
table[0]

                         0                                               1
0            Руководитель:  ГЕНЕРАЛЬНЫЙ ДИРЕКТОР Спиридонов Максим Юрьевич
1               ИНН / КПП:                          7715964180 / 772601001
2        Уставной капитал:                                    60 млн. руб.
3   Численность персонала:                                             239
4  Количество учредителей:                                               1
5        Дата регистрации:                                      23.05.2013
6                  Статус:                                     Действующее